@{
	ViewBag.Title = "Home Page";
}

<div class="jumbotron">
	<h1>Enhanced Life</h1>
	<p class="lead">Enhanced Life is a free web site for building a great life. Use our Goal setting tools and To Do lists to make your life better.</p>
	<p><a href="@Url.Action("About","Home")" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
	<div class="col-md-4">
		<h2>Set Goals</h2>
		<p>
			Goal setting is a powerful process for thinking about your ideal future, and for motivating yourself 
			to turn your vision of this future into reality.
		</p>
		<p><a class="btn btn-default" href="@Url.Action("Index","Goal")">Learn more &raquo;</a></p>
	</div>
	<div class="col-md-4">
		<h2>Create To-Dos</h2>
		<p>To-Do lists let you keep track of everything in one place, so you can get it all done and enjoy more peace 
		of mind along the way.</p>
		<p><a class="btn btn-default" href="@Url.Action("Index","Todo")">Learn more &raquo;</a></p>
	</div>
	<div class="col-md-4">
		<h2>Contact Us</h2>
		<p>You can easily contact us to get help realizing your dreams.</p>
		<p><a class="btn btn-default"  href="@Url.Action("Contact","Home")">Learn more &raquo;</a></p>
	</div>
</div>